<template>
  <div>
    <NuxtRouteAnnouncer />
    <NuxtLayout>
      <NuxtPage />
    </NuxtLayout>
  </div>
</template>

<style>
@import url('~/assets/css/w3.css');
@import url('~/assets/css/theme.css');
</style>
