<template>
  <div>
    <NuxtLayout>
      <h1 class="w3-center w3-jump">Ups!</h1>
      <div class="w3-center w3-xxxlarge">{{ error.statusCode }}</div>
      <div class="w3-center w3-large">{{ error.statusMessage }}</div>
    </NuxtLayout>
  </div>
</template>

<script setup lang="ts">
import type { NuxtError } from '#app';

const props = defineProps({
  error: Object as () => NuxtError,
});
</script>
