<template>
  <div :class="['app-card', card.enabled ? '' : 'w3-disabled']" data-test-id="card">
    <header class="w3-container w3-theme-d2 w3-large" data-test-id="header">
      <a :href="card.url" class="app-discrete-link" data-test-id="url">
        {{ card.title }}
      </a>
    </header>
    <div class="app-card-body">
      <a :href="card.url" data-test-id="url">
        <!-- //NOSONAR --><img :src="card.image.url" :alt="card.image.alternativeText"
          class="w3-left w3-circle w3-margin-right app-card-img" data-test-id="image"/>
      </a>
      <div v-html="card.content" data-test-id="content" />
      <span v-if="card.gitlabUrl">
        <em class="fab fa-gitlab"></em>&nbsp;
        <a class="app-reenabled w3-large" :href="card.gitlabUrl" data-test-id="gitlabUrl">Source</a>
      </span>
    </div>
    <a :href="card.url" class="w3-button w3-block w3-container w3-theme-d2 w3-large" data-test-id="url goButton"><span
        v-if="card.enabled">Go</span><span v-else>(Currently disabled)</span></a>
  </div>
</template>

<script setup lang="ts">
const props = defineProps<{ card: CardData }>();
</script>

<style lang="scss" scoped>
@charset "utf-8";
$app-card-padding: 10px;
$app-card-body-height: 300px;

.app-card {
  box-shadow: 2px 2px 6px 0px;
  padding: $app-card-padding;
}

.app-card-body {
  padding-top: $app-card-padding;
  height: $app-card-body-height;
}

.app-card-body p {
  margin-top: 0px;
}

.app-card-img {
  width: 92px;
  height: 92px;
}

.app-discrete-link {
  text-decoration: none;
}
</style>
