<template>
  <div>
    <NuxtLink class="w3-bar-item w3-button w3-xlarge w3-hover-theme" exact-active-class="w3-theme-d3" to="/">Home
    </NuxtLink>
    <NuxtLink class="w3-bar-item w3-button w3-xlarge w3-hover-theme" exact-active-class="w3-theme-d3" to="/description">
      Description</NuxtLink>
    <NuxtLink class="w3-bar-item w3-button w3-xlarge w3-hover-theme" exact-active-class="w3-theme-d3" to="/contact">
      Contact</NuxtLink>
    <a class="w3-bar-item w3-button w3-xlarge w3-hover-theme" active-class="w3-theme-d3" :href="adminUrl"
      target="_blank" data-test-id="adminLink">Admin</a>
  </div>
</template>

<script lang="ts" setup>
const config = useRuntimeConfig();

const adminUrl = computed(() => config.public.backendUrl + '/admin/');
</script>
