<template>
  <div v-html="content" />
</template>

<script setup lang="ts">
const props = defineProps<{ name: string }>();

const { data } = await getSimplePage(props.name);

const content = ref(md2html(data.value?.content));
</script>
