.w3-theme-l5 {color:#000 !important; background-color:#f9f7ff !important}
.w3-theme-l4 {color:#000 !important; background-color:#e9e4ff !important}
.w3-theme-l3 {color:#000 !important; background-color:#d4caff !important}
.w3-theme-l2 {color:#000 !important; background-color:#beafff !important}
.w3-theme-l1 {color:#000 !important; background-color:#a895ff !important}
.w3-theme-d1 {color:#fff !important; background-color:#7455ff !important}
.w3-theme-d2 {color:#fff !important; background-color:#552fff !important}
.w3-theme-d3 {color:#fff !important; background-color:#3609ff !important}
.w3-theme-d4 {color:#fff !important; background-color:#2a00e2 !important}
.w3-theme-d5 {color:#fff !important; background-color:#2300bd !important}

.w3-theme-light {color:#000 !important; background-color:#f9f7ff !important}
.w3-theme-dark {color:#fff !important; background-color:#2300bd !important}
.w3-theme-action {color:#fff !important; background-color:#2300bd !important}

.w3-theme {color:#fff !important; background-color:#9179ff !important}
.w3-text-theme {color:#9179ff !important}
.w3-border-theme {border-color:#9179ff !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#9179ff !important}
.w3-hover-text-theme:hover {color:#9179ff !important}
.w3-hover-border-theme:hover {border-color:#9179ff !important}