<template>
  <div id="app">
    <nav v-show="menuVisible" id="mySidebar" class="w3-sidebar w3-bar-block w3-card w3-hide-large w3-hide-medium"
      @click="toggleMenu" data-test-id="menu menuHide">
      <div class="w3-container w3-theme-d2">
        <span class="w3-button w3-display-topright w3-large" aria-label="Close menu">
          <font-awesome-icon aria-hidden="true" icon="fa-solid fa-close" />
        </span>
        <br /><br />
      </div>
      <MenuLinks />
    </nav>

    <header class="w3-top w3-bar w3-theme-d4">
      <div class="w3-left w3-hide-large w3-hide-medium">
        <button class="w3-bar-item w3-button w3-xlarge w3-hover-theme" aria-label="Menu" @click="toggleMenu"
          data-test-id="menuShow">
          <font-awesome-icon aria-hidden="true" icon="fa-solid fa-bars" />
        </button>
      </div>
      <div class="w3-left w3-hide-small">
        <MenuLinks />
      </div>
      <div class="w3-right">
        <a href="/">
          <img class="w3-circle app-header-image" src="~/assets/resources/jsedano_small.jpg" alt="avatar" />
        </a>
      </div>
    </header>

    <div class="w3-container w3-text-theme app-main-content">
      <slot />
    </div>

    <footer class="w3-container w3-bottom w3-theme-d4 w3-margin-top w3-bar">
      <div class="w3-left app-footer-version" data-test-id="version">Version {{ version }}</div>
      <div class="w3-right app-footer-copyright">
        <font-awesome-icon aria-hidden="true" icon="fa-solid fa-copyright" />Javier Sedano 2019-2024,
        <font-awesome-icon aria-hidden="true" icon="fa-brands fa-creative-commons" />
        <font-awesome-icon aria-hidden="true" icon="fa-brands fa-creative-commons-by" />
        <font-awesome-icon aria-hidden="true" icon="fa-brands fa-creative-commons-sa" />
        <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC-BY-SA-4.0</a>
      </div>
    </footer>
  </div>
</template>

<script lang="ts" setup>
const menuVisible = ref(false);
const version = computed(() => config.public.appVersion);
const config = useRuntimeConfig();

function toggleMenu() {
  menuVisible.value = !menuVisible.value;
}
</script>

<style lang="scss">
@charset "utf-8";

.app-header-icon {
  margin-top: 13px;
  margin-bottom: 13px;
}

.app-header-image {
  height: 52px;
}

.app-reenabled {
  pointer-events: all;
  opacity: 1;
}

.app-reenabled:hover {
  cursor: pointer;
}

.app-main-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 52px;
  margin-bottom: 22px;
  max-width: $app-main-content-width;
}

.app-main-content img {
  max-width: 100%;
  box-shadow: 2px 2px 6px 0px;
}

.app-main-content img.app-no-shadow {
  max-width: 100%;
  box-shadow: 0px 0px 0px 0px;
}

.app-main-content img.app-small-image {
  max-height: 65px;
}

.app-main-content pre {
  overflow: auto;
}

.app-footer-version {
  font-size: 7px;
  position: absolute;
  bottom: 0;
}

.app-footer-copyright {
  font-size: 10px;
}

@media (min-width: $app-w3-screen-width-small) {
  .app-footer-version {
    font-size: 10px;
  }

  .app-footer-copyright {
    font-size: 15px;
  }
}
</style>
