<template>
  <div>
    <p>
      Be patient when accessing these applications, the server is a severely
      constrained virtual machine and it may take up to a few seconds to
      respond.
    </p>

    <div class="app-cards">
      <card v-for="card in cards" :key="card.title" :card="card" />
    </div>
  </div>
</template>

<script setup lang="ts">
const config = useRuntimeConfig();

const fullCards = await getCards();
const cards = fullCards.data.value?.map((fullCard) => {
  return {
    title: fullCard.title,
    content: md2html(fullCard.content),
    enabled: fullCard.enabled,
    gitlabUrl: fullCard.gitlabUrl,
    url: fullCard.url,
    image: {
      url: config.public.backendUrl + fullCard.image.url,
      alternativeText: fullCard.image.alternativeText,
    },
  };
});
</script>

<style lang="scss" scoped>
@charset "utf-8";

.app-cards {
  max-width: $app-main-content-width - 32px;
  margin: 16px auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
</style>
